body {
  font-family: Arial, Helvetica, sans-serif;
}

.menu-item {
  border: 1px solid #000;
  background-color: #f4f4f4;
  padding: 15px;
  margin-bottom: 20px;
}

.menu-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
